.nav {
  width           : 340px;
  overflow-x      : hidden;
  overflow-y      : auto;
  color           : var(--color-subtle);
  border-right    : 1px solid gray;
  background-color: lightgrey;
  visibility      : hidden;
  height          : 100%;
  opacity         : 0;
  border-top      : 0;
  padding         : 0px 0px 0px 0px;
}

.nav-header {
  margin: 0px 0px 0px 0px;
}

.nav.is-shown {
  visibility: visible;
  opacity   : 1;
}

nav {
  display: inline-block;
}